@model TestMVC.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cargoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cargoDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.orderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
