@model IEnumerable<TestMVC.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargoDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargoDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.orderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.orderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.orderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
